body {
    background-image: url(/Quest-html-css/src/images/bg-desktop.svg);
    background-position:  center right 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--vaiolet);
    font-family: var(--font-body);
    max-width: 1300px;
}
.cabecalho img {
    max-width: 80%;
    padding: 25px 0 15px 30px;
}
.container {
   display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 30px;
}
.container img {
    max-width: 90%;
    height: auto;
}
.container .principal {
    max-width: 100%;
    height: auto;
    margin: 0 48px;
}
.container .principal h1 {
    margin-top: 40px;
    font-size: 40px;
    color: antiquewhite;
    padding-bottom: 25px;
}
.container .principal p {
    color: antiquewhite;
   padding-right: 40px;
   padding-bottom: 40PX;
}
.container .principal .bnt {
    padding: 17px 60px;
    background: #b8b2b2;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.2);
    font-family: var(--font-Headings);
}
.container .principal .bnt:hover {
    background-color: var(--Soft-Magenta);
}
.footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.footer a {
    margin-right: 30px;
    width: auto;
    border: 1px solid #fff;
    border-radius: 50px;
}
.footer .fa-brands  {
    color: #fff;
    padding: 10px;
 }
 .footer .fa-facebook, .footer .fa-instagram, .footer .fa-twitter {
     font-size: 35px;
 }
 .footer .fa-brands:hover {
     color: var(--Soft-Magenta);
 }